name: Ci/CD pipeline for the Connect Four (bla bla) game
on: [ push, workflow_dispatch ]
jobs:
    
  build: ## name frei wählbar
    runs-on: ubuntu-latest ## welchen server hät´ich n gerne              
    
    steps:
        - name:  Setup .NET 7
          uses: actions/setup-dotnet@v3
          with:
            dotnet-version: 7
        - name: Checkout repo
          uses: actions/checkout@v4  
        - name: Build
          run: dotnet build
        - name: Upload Artifacts
          uses: actions/upload-artifact@v3
          with:
            name: build
            path: |
              ConnectFour*/bin/**
              ConnectFour*/obj/**

   
  test: ## name frei wählbar
    runs-on: ubuntu-latest 
    needs: build
    
    steps:
        - name:  Setup .NET 7
          uses: actions/setup-dotnet@v3
          with:
            dotnet-version: 7
        - name: Checkout repo
          uses: actions/checkout@v4  
        - name: Download Artifacts
          uses: actions/download-artifact@v3
          with:
            name: build
        - name: Build
          run: dotnet test --no-restore --no-build
        



